.background {
  fill: none;
  pointer-events: all;
}

/*
#chart1 {
  width: 960px;
  height: 600px;
  border: solid 1px #ccc;
}
*/

#chart1 .circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

#chart1 .link {
  stroke: #999;
  stroke-opacity: .6;
  stroke-width: 1.5px;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
  text-anchor: start;
}

/* magnifier glass as circle */
.lens {
  stroke: gray;
  stroke-width: 2.0px;
  stroke-opacity: 0;
  fill: none;
}

/* magnifier glass as path */
.mag {
  stroke: gray;
  stroke-width: 2.0px;
  stroke-opacity: 0;
  fill: none;
}

/* magnifier handle as path */
.mag2 {
  stroke: black;
  stroke-width: 12.0px;
  stroke-opacity: 0;
  fill: none;
}
  